In [1]:
import pandas as pd

In [2]:
stock = pd.read_csv('./stock_data.csv')
stock.head()

,date,Apple,Google,Amazon,Microsoft,IBM,Facebook
0,2015-08-11,113.489998,690.299988,527.460022,46.410000,155.509995,93.620003
1,2015-08-10,119.720001,663.140015,524.000000,47.330002,156.750000,94.150002
2,2015-08-07,115.519997,664.390015,522.619995,46.740002,155.119995,94.300003
3,2015-08-06,115.129997,670.150024,529.460022,46.619999,156.320007,95.120003
4,2015-08-05,115.400002,673.289978,537.010010,47.580002,157.899994,96.440002

In [3]:
olympics = pd.read_csv('./olympics.csv')
olympics.head()

,Year,City,Sport,Discipline,NOC,Event,Gender,Medal,Country,Latitude,Longitude
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver,Austria,45.9231,6.8697
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold,Austria,45.9231,6.8697
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold,Austria,45.9231,6.8697
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze,Belgium,45.9231,6.8697
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold,Canada,45.9231,6.8697

In [42]:
gg = olympics[['Country', 'Medal']]
gg['count'] = 1
gg = gg.pivot_table(values='count', index='Country', columns='Medal', aggfunc='count')
gg['Country'] = gg.index
gg['Ctry_Name'] = gg.index
gg = gg.fillna(0)
gg['Total'] = gg['Bronze']+gg['Silver']+gg['Gold']
gg = gg.sort_values(['Total'], ascending=False)
gg.to_csv('Medal_Country.csv', index=False)

C:\Users\Orysya\Anaconda\envs\py27\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [43]:
olympics['Country'].nunique()

45