In [1]:
import pandas as pd

In [3]:
olympics = pd.read_csv('./olympics.csv')
olympics.head()

,Year,City,Sport,Discipline,NOC,Event,Gender,Medal,Country,Latitude,Longitude
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver,Austria,45.9231,6.8697
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold,Austria,45.9231,6.8697
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold,Austria,45.9231,6.8697
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze,Belgium,45.9231,6.8697
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold,Canada,45.9231,6.8697

### Overall medal count

In [42]:
gg = olympics[['Country', 'Medal']]
gg['count'] = 1
gg = gg.pivot_table(values='count', index='Country', columns='Medal', aggfunc='count')
gg['Country'] = gg.index
gg['Ctry_Name'] = gg.index
gg = gg.fillna(0)
gg['Total'] = gg['Bronze']+gg['Silver']+gg['Gold']
gg = gg.sort_values(['Total'], ascending=False)
gg.to_csv('Medal_Country.csv', index=False)

C:\Users\Orysya\Anaconda\envs\py27\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

### Overall medal count for females

In [47]:
gg = olympics[olympics["Gender"] == 'W'][['Country', 'Medal']]
gg['count'] = 1
gg = gg.pivot_table(values='count', index='Country', columns='Medal', aggfunc='count')
gg['Country'] = gg.index
gg['Ctry_Name'] = gg.index
gg = gg.fillna(0)
gg['Total'] = gg['Bronze']+gg['Silver']+gg['Gold']
gg = gg.sort_values(['Total'], ascending=False)
gg.to_csv('Medal_Country_women.csv', index=False)

### Overall medal count for males

In [49]:
gg = olympics[olympics["Gender"] == 'M'][['Country', 'Medal']]
gg['count'] = 1
gg = gg.pivot_table(values='count', index='Country', columns='Medal', aggfunc='count')
gg['Country'] = gg.index
gg['Ctry_Name'] = gg.index
gg = gg.fillna(0)
gg['Total'] = gg['Bronze']+gg['Silver']+gg['Gold']
gg = gg.sort_values(['Total'], ascending=False)
gg.to_csv('Medal_Country_men.csv', index=False)